{% extends "AppCoder/padre.html" %}


{% load static %}    

{% block titulo%}
  
Busqueda

{% endblock titulo%}

{% block subtitulo%}
  
Aqui buscamos los juegos.

{% endblock subtitulo%}

{% block botones%}

<li class="nav-item"><a class="nav-link" href="{% url 'Juegos' %}">Videojuegos</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'JuegoFormulario' %}">Crear</a></li>

{% endblock %}

{% block formu%}

<center><form action="/AppCoder/resultadoJuego/" method="GET">
    
<p> Juego: <input type="text" name="juego"> </p>

    <input type="submit" value="Buscar!">


 </form></center>

{% endblock formu%}